@model List<Autolote.BL.Productos>
    
@{ViewBag.Title = "Index";
}

<h2>Marcas</h2>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                codigo
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    @foreach (var marca in Model)
    {
        <tr>
            <td>@marca.Id</td>
            <td>@marca.Marca</td>
            <td>@marca.Modelo</td>
            <td>@marca.Precio</td>
        </tr>
    }
  
   
</table>